[submodule "Intro to Python OOP/Intro-Python-I"]
	path = Intro to Python OOP/Intro-Python-I
	url = https://github.com/samanthagatt/Intro-Python-I.git
[submodule "Intro to Python OOP/Intro-Python-II"]
	path = Intro to Python OOP/Intro-Python-II
	url = https://github.com/samanthagatt/Intro-Python-II.git
[submodule "Intro to Python OOP/Sprint-Challenge--Intro-Python"]
	path = Intro to Python OOP/Sprint-Challenge--Intro-Python
	url = https://github.com/samanthagatt/Sprint-Challenge--Intro-Python.git
[submodule "Algorithms/Algorithms"]
	path = Algorithms/Algorithms
	url = https://github.com/samanthagatt/Algorithms.git
[submodule "Algorithms/Sorting"]
	path = Algorithms/Sorting
	url = https://github.com/samanthagatt/Sorting.git
[submodule "Algorithms/Sprint-Challenge--Algorithms"]
	path = Algorithms/Sprint-Challenge--Algorithms
	url = https://github.com/samanthagatt/Sprint-Challenge--Algorithms.git
[submodule "Data Structures/Data-Structures"]
	path = Data Structures/Data-Structures
	url = https://github.com/samanthagatt/Data-Structures.git
