[submodule "Intro to Python OOP/Intro-Python-I"]
	path = Intro to Python OOP/Intro-Python-I
	url = https://github.com/samanthagatt/Intro-Python-I.git
[submodule "Intro to Python OOP/Intro-Python-II"]
	path = Intro to Python OOP/Intro-Python-II
	url = https://github.com/samanthagatt/Intro-Python-II.git
[submodule "Intro to Python OOP/Sprint-Challenge--Intro-Python"]
	path = Intro to Python OOP/Sprint-Challenge--Intro-Python
	url = https://github.com/samanthagatt/Sprint-Challenge--Intro-Python.git
[submodule "Algorithms/Algorithms"]
	path = Algorithms/Algorithms
	url = https://github.com/samanthagatt/Algorithms.git
[submodule "Algorithms/Sorting"]
	path = Algorithms/Sorting
	url = https://github.com/samanthagatt/Sorting.git
[submodule "Algorithms/Sprint-Challenge--Algorithms"]
	path = Algorithms/Sprint-Challenge--Algorithms
	url = https://github.com/samanthagatt/Sprint-Challenge--Algorithms.git
[submodule "Data Structures/Data-Structures"]
	path = Data Structures/Data-Structures
	url = https://github.com/samanthagatt/Data-Structures.git
[submodule "Data Structures/Sprint-Challenge--Data-Structures-Python"]
	path = Data Structures/Sprint-Challenge--Data-Structures-Python
	url = https://github.com/samanthagatt/Sprint-Challenge--Data-Structures-Python.git
[submodule "Graphs/Graphs"]
	path = Graphs/Graphs
	url = https://github.com/samanthagatt/Graphs.git
[submodule "Graphs/Sprint-Challenge--Graphs"]
	path = Graphs/Sprint-Challenge--Graphs
	url = https://github.com/samanthagatt/Sprint-Challenge--Graphs.git
[submodule "Lambda-Treasure-Hunt"]
	path = Lambda-Treasure-Hunt
	url = https://github.com/samanthagatt/Lambda-Treasure-Hunt.git
[submodule "Intro to C/Intro-to-C"]
	path = Intro to C/Intro-to-C
	url = https://github.com/samanthagatt/Intro-to-C.git
[submodule "Intro to C/Processes"]
	path = Intro to C/Processes
	url = https://github.com/samanthagatt/Processes.git
[submodule "Intro to C/Sprint-Challenge--Intro-C-Processes"]
	path = Intro to C/Sprint-Challenge--Intro-C-Processes
	url = https://github.com/samanthagatt/Sprint-Challenge--Intro-C-Processes.git
